<div class="div-conteiner">

  <div class="flex-container">
    <div id="img">
      <img src="https://avatars.githubusercontent.com/u/57570714?s=460&u=49a0aca131d9271d4db4494757a2d77e43324977&v=4" alt="Foto Nathalia Souza">
    </div>

    <div id="follow">
      <h5 class="card-title">Nathalia Souza</h5>
      <a href="https://github.com/nathaliacs" class="btn btn-primary">Github</a>
    </div>
  </div>

  <p>
    Olá, meu nome é Nathalia Souza, sou aluna da Faculdade de tecnologia Rubens Lara, no litoral de São Paulo,
    número de matrícula é <b>0050831911042.</b>
  </p>
  <p>
    Tenho 25 anos e meu primeiro contato direto com a área de<abbr title="técnologia da Informação"> TI</abbr>
    foi quando ingressei na <abbr title="Faculdade de técnologia">Fatec</abbr> em 2019. O ramo de
    <abbr title="técnologia da Informação"> TI</abbr> que mais me agrada é Banco de Dados, e pretendo me
    aprofundar nessa área futuramente.
  </p>
</div>