<div class="container-fluid div-conteiner">
  <h1>Atividade Angular - Aula 03</h1>
  <h2>Criando site com rotas de navegação</h2>
  <hr>
  <p>
    Para o desenvolvimento da aplicação foi utilizado a do site <a href="https://stackblitz.com/" >stackblitz</a> com o framework Angular.  Foi criado um Single-Page Application que é uma aplicação web que roda em uma única página, se assemelhando a um aplicativo desktop ou um mobile, a navegação roda toda em uma única página e todo o conteúdo é carregado de uma vez ou obtido dinamicamente (via requisições Ajax).
    </p>
</div>
